@charset "UTF-8";

@font-face {
  font-family: "golos-text_regular";
  src: url("../fonts/golos-text_regular.woff2") format("woff2"), url("../fonts/golos-text_regular.woff") format("woff");
}

@font-face {
  font-family: "golos-text_demibold";
  src: url("../fonts/golos-text_demibold.woff2") format("woff2"), url("../fonts/golos-text_demibold.woff") format("woff");
}

@font-face {
  font-family: "golos-text_bold";
  src: url("../fonts/golos-text_bold.woff2") format("woff2"), url("../fonts/golos-text_bold.woff") format("woff");
}

@font-face {
  font-family: "golos-text_medium";
  src: url("../fonts/golos-text_bold.woff2") format("woff2"), url("../fonts/golos-text_bold.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

html {
  height: 100%;
}

body {
  color: #1E1E1E;
  height: 100%;
}

body._active {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  font-family: "golos-text_bold";
  font-size: 39.5px;
  line-height: 118.9873417722%;
  color: #000000;
}

.subtitle {
  font-family: "golos-text_demibold";
  font-size: 25px;
  line-height: 120%;
  color: #000000;
  opacity: 0.7;
}

[class*=__container] {
  max-width: 1330px;
  padding: 0px 15px;
  margin: auto;
}

.header__container {
  min-height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.main {
  min-height: 919px;
}

.header-reg__logo {
  display: block;
  margin: 0px 0px 0px 27px;
  font-weight: 600;
  font-size: 33px;
  line-height: 118.1818181818%;
  font-family: "golos-text_demibold";
  color: #000000;
}

.main__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-reg {
  position: relative;
}

.main-reg__body {
  margin: 56px 0px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 585px;
          flex: 0 1 585px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 15px rgba(94, 79, 230, 0.17);
          box-shadow: 5px 5px 15px rgba(94, 79, 230, 0.17);
  border-radius: 30px;
  min-height: 779px;
}

.main-reg__form {
  padding: 34px 80px 70px;
}

.main-reg__title {
  font-family: "golos-text_demibold";
  font-size: 84.8391px;
  line-height: 121.4285714286%;
  margin: 0px 0px 0px 88px;
}

.main-reg__title span.s1,
.main-reg__title span.s4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#5E4FE6), to(#9455FA));
  background: -o-linear-gradient(top, #5E4FE6 0%, #9455FA 100%);
  background: linear-gradient(180deg, #5E4FE6 0%, #9455FA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.main-reg__title span.s2,
.main-reg__title span.s3 {
  margin: 0px 0px 0px 125px;
}

.main-reg__title span.s4 {
  margin: 0px 0px 0px 345px;
}

.form-reg__logo {
  max-width: 373px;
  margin: auto;
  margin: 0px 0px 42px 0px;
}

.form-reg__logo img {
  width: 100%;
}

.form-reg__item:not(:last-child) {
  margin: 0px 0px 42px 0px;
}

.form-reg__item:last-child {
  margin: 0px 0px 23px 0px;
}

.form-reg__error {
  font-family: "golos-text_demibold";
  font-size: 21px;
  color: rgb(187, 52, 95);
  margin: 0px 0px 10px 0px;
  display: none;
}

.form-reg__check {
  display: none;
}

.form-reg__check-text {
  cursor: pointer;
  margin: 0px 0px 0px 46px;
  font-family: "golos-text_demibold";
  font-size: 23.8px;
  line-height: 120.8333333333%;
  position: relative;
  color: #000000;
  opacity: 0.8;
}

.form-reg__check-text._active::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.form-reg__check-text::after {
  -webkit-transition: 0.3s all ease 0s;
  -o-transition: 0.3s all ease 0s;
  transition: 0.3s all ease 0s;
  content: "";
  transition: 0.3s all ease 0s;
  position: absolute;
  left: -41px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 7px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.form-reg__check-text::before {
  content: "";
  position: absolute;
  left: -46px;
  top: 0;
  width: 25px;
  height: 25px;
  opacity: 0.8;
  border: 0.873469px solid #000000;
  border-radius: 8.73469px;
}

.form-reg__submit {
  margin: 32px 0px 0px 0px;
  cursor: pointer;
  display: block;
  width: 100%;
  min-height: 74px;
  background: #9455FA;
  border-radius: 8.73469px;
  font-family: "golos-text_regular";
  font-size: 32.8544px;
  line-height: 121.875%;
  border: none;
  color: #FFFFFF;
  -webkit-transition: 0.5s all ease 0s;
  -o-transition: 0.5s all ease 0s;
  transition: 0.5s all ease 0s;
}

.form-reg__submit:hover {
  background: #a067fb;
  -webkit-box-shadow: 0px 10px 30px rgba(160, 103, 251, 0.4745098039);
          box-shadow: 0px 10px 30px rgba(160, 103, 251, 0.4745098039);
}

.item-reg__title {
  font-family: "golos-text_demibold";
  font-size: 23.8px;
  line-height: 126.0869565217%;
  color: #000000;
  opacity: 0.7;
  margin: 0px 0px 14px 0px;
}

.item-reg__input {
  width: 428px;
  font-family: "golos-text_regular";
  font-size: 28px;
  padding: 10px;
  height: 74.24px;
  border: 0.873469px solid #000000;
  border-radius: 8.73469px;
}

.item-reg__input:focus {
  outline: none;
}

.header {
  background-color: #fff;
}

.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  max-width: 315px;
  margin: 0px 0px 0px 53px;
  position: relative;
}

.header__burger {
  width: 60px;
  height: 40px;
  position: relative;
  display: none;
  cursor: pointer;
  z-index: 50;
}

.header__burger span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #434343;
  border-radius: 3px;
}

.header__burger span:nth-child(1) {
  top: 0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__burger span:nth-child(2),
.header__burger span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header__burger span:nth-child(4) {
  top: 32px;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.header__burger._active span:nth-child(1) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__burger._active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__burger._active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__burger._active span:nth-child(4) {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

body.main-main {
  background-color: #F6F5FB;
}

.main-main__body {
  margin: 54px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 424px;
          flex: 0 1 424px;
  width: 424px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px rgba(94, 79, 230, 0.17);
          box-shadow: 5px 5px 15px rgba(94, 79, 230, 0.17);
  border-radius: 30px 30px 0px 0px;
  margin: 0px 26px 0px 0px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.menu__body {
  padding: 47px 72px;
}

.menu__title {
  font-family: "golos-text_demibold";
  font-size: 32.8544px;
  line-height: 118.1818181818%;
  color: #000000;
  margin: 0px 0px 26px 0px;
}

.menu__img {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  overflow: hidden;
  background: #D9D9D9;
  margin: 0 auto;
  position: relative;
}

.menu__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__name {
  font-family: "golos-text_demibold";
  margin: 33px 0px 0px 0px;
  font-size: 29.5px;
  line-height: 118.6440677966%;
  color: #000000;
}

.menu__number {
  font-family: "golos-text_regular";
  font-size: 25px;
  line-height: 120%;
  color: #1E1E1E;
  margin: 0px 0px 58px 0px;
}

.menu__item {
  width: 355px;
  height: 72px;
  border-radius: 25px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: #F6F5FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 10px 0px;
}

.menu__item:hover {
  background: #5E4FE6;
  -webkit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
}

.menu__item:hover .menu__link {
  color: #fff;
}

.menu__item._active {
  background: #5E4FE6;
  -webkit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
}

.menu__item._active .menu__link {
  color: #fff;
}

.menu__link {
  font-family: "golos-text_demibold";
  font-size: 26px;
  line-height: 119.2307692308%;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__exit {
  margin: 50px 0px 0px 20px;
  display: none;
}

.main-main__home {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__info {
  font-family: "golos-text_bold";
  font-size: 39.5px;
  line-height: 118.9873417722%;
  color: #000000;
  margin: 0px 0px 34px 0px;
}

.home__location {
  padding: 22px 35px;
  border: 1px solid #000000;
  border-radius: 20px;
  margin: 0px 0px 20px 0px;
}

.home__body {
  background: #FFFFFF;
  border-radius: 20px;
}

.home__items {
  padding: 30px 40px 40px 40px;
}

.home__item:nth-child(2) .text__item {
  position: relative;
  left: 45px;
}

.home__item:nth-child(2) .text__item::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  left: -39px;
  top: 11px;
  background: #6A6A6A;
  border-radius: 50%;
}

.home__item:first-child .home__link {
  padding: 0px 0px 21px 0px;
}

.home__item:last-child .home__link {
  padding: 21px 0px 0px 0px;
}

.home__item:last-child .item-home__text {
  margin: 21px 0px 0px 0px;
}

.home__link {
  padding: 21px 0px 21px 0px;
  font-family: "golos-text_demibold";
  font-size: 26px;
  line-height: 119.2307692308%;
  display: block;
  color: #000000;
}

.item-home__text {
  display: none;
}

.text__item {
  font-family: "golos-text_demibold";
  font-size: 26px;
  line-height: 119.2307692308%;
  color: #4D4D4D;
}

.main-main__main {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-main__main._active {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.counters__title {
  margin: 0px 0px 16px 0px;
}

.counters__subtitle {
  margin: 0px 0px 10px 0px;
}

.counters__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -12px 23px -12px;
}

.counters__items.payment {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 0;
  width: 105%;
  margin: 0px -12px 28px -12px;
}

.counters__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-align: center;
}

.counters__item:last-child {
  cursor: pointer;
}

.counters__item:last-child .item-counters__title {
  text-align: left;
  margin: 0px 0px 0px 20px;
}

.counters__history {
  margin: 0px 0px 28px 0px;
}

.counters__monthes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.counters__month {
  display: none;
}

.counters__month:first-child {
  display: block;
}

.counters__more {
  width: 74px;
  height: 17px;
  cursor: pointer;
  margin: 40px auto;
}

.item-counters__body {
  background: -webkit-gradient(linear, left top, left bottom, from(#5E4FE6), to(#9455FA));
  background: -o-linear-gradient(top, #5E4FE6 0%, #9455FA 100%);
  background: linear-gradient(180deg, #5E4FE6 0%, #9455FA 100%);
  border-radius: 21.9605px;
  width: 262.43px;
  height: 153.72px;
  padding: 25px 40px;
}

.item-counters__title {
  font-family: "golos-text_demibold";
  color: #fff;
  font-size: 22px;
  line-height: 118.1818181818%;
  margin: 0px 0px 27px 0px;
}

.item-counters__number {
  font-family: "golos-text_demibold";
  color: #fff;
  font-size: 42px;
  line-height: 121.4285714286%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-counters__update {
  margin: 20px 0px 0px 20px;
}

a.counters__item > .item-counters__body {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.counters__item > .item-counters__body:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 10px 20px rgba(160, 103, 251, 0.4745098039);
          box-shadow: 0px 10px 20px rgba(160, 103, 251, 0.4745098039);
}

.update {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.update:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 10px 20px rgba(160, 103, 251, 0.4745098039);
          box-shadow: 0px 10px 20px rgba(160, 103, 251, 0.4745098039);
}

.month__title {
  margin: 0px 0px 3px 0px;
}

.month__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -8px -8px;
  padding: 10px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.month__item {
  margin: 8px 8px;
  background: #FFFFFF;
  border-radius: 12.3636px;
  width: 147.74px;
  height: 86.55px;
  text-align: center;
}

.item-month__title {
  margin: 14px 0px 19px 0px;
  font-family: "golos-text_demibold";
  font-size: 12px;
  line-height: 125%;
  color: #000;
}

.item-month__number {
  font-family: "golos-text_demibold";
  font-size: 16px;
  line-height: 125%;
  color: #000;
}

.payment {
  position: relative;
  width: 100%;
}

.payment__title {
  margin: 0px 0px 20px 0px;
}

.payment__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 124px;
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  margin: 0px 0px 70px 0px;
}

.payment__table span {
  height: 90px;
  width: 0.5px;
  background: #000;
  position: absolute;
  z-index: 2;
  top: 18px;
}

.payment__name {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 62px;
          flex: 0 1 62px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#5E4FE6), to(#9455FA));
  background: -o-linear-gradient(top, #5E4FE6 0%, #9455FA 100%);
  background: linear-gradient(180deg, #5E4FE6 0%, #9455FA 100%);
  border-radius: 21px 21px 0px 0px;
}

.payment__nums {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 62px;
          flex: 0 1 62px;
  width: 100%;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 21px 21px;
}

.payment__subtitle {
  margin: 0px 0px 34px 0px;
}

.payment__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 69px 0px;
}

.payment__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 68%;
          flex: 0 1 68%;
  height: 68px;
  background: #FFFFFF;
  border-radius: 18.1022px;
  border: none;
  font-family: "golos-text_demibold";
  font-size: 26px;
  line-height: 119.2307692308%;
  padding: 10px 38px;
  color: #000;
  border: 1px solid #5E4FE6;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.payment__input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 20px rgba(167, 123, 237, 0.2470588235);
          box-shadow: 0px 0px 20px rgba(167, 123, 237, 0.2470588235);
}

.payment__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29%;
          flex: 0 1 29%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px 20px;
  width: 232px;
  height: 68px;
  background: -webkit-gradient(linear, left top, left bottom, from(#5E4FE6), to(#9455FA));
  background: -o-linear-gradient(top, #5E4FE6 0%, #9455FA 100%);
  background: linear-gradient(180deg, #5E4FE6 0%, #9455FA 100%);
  -webkit-box-shadow: 0px 4px 10px rgba(94, 79, 230, 0.25);
          box-shadow: 0px 4px 10px rgba(94, 79, 230, 0.25);
  border-radius: 18.1022px;
  border: none;
  font-size: 28px;
  line-height: 117.8571428571%;
  font-family: "golos-text_demibold";
  color: #fff;
}

.payment__button:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 10px 20px rgba(160, 103, 251, 0.4745098039);
          box-shadow: 0px 10px 20px rgba(160, 103, 251, 0.4745098039);
}

.payment__body {
  display: none;
}

.payment__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment__qr {
  width: 244px;
  height: 244px;
  background: #FFFFFF;
  border-radius: 14.8219px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 40px 0px 0px;
}

.payment__text {
  font-family: "golos-text_demibold";
  font-size: 31px;
  line-height: 122.5806451613%;
  opacity: 0.7;
  color: #000;
  margin: 0px 0px 20px 0px;
}

.payment__text a {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.name-payment {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px;
}

.name-payment__title {
  font-family: "golos-text_demibold";
  font-size: 26px;
  line-height: 119.2307692308%;
  color: #FFFFFF;
}

.name-payment__title:first-child {
  margin: 0px 30% 0px 13%;
}

.nums-payment {
  padding: 2px 20px;
}

.nums-payment__num {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "golos-text_demibold";
  font-size: 26px;
  line-height: 119.2307692308%;
  color: #000;
}

.nums-payment__num__title:first-child {
  margin: 0px 30% 0px 0px;
}

.main-main__support {
  position: relative;
  width: 100%;
}

.support__title {
  margin: 0px 0px 43px 0px;
}

.form-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  border-radius: 30px;
  width: 100%;
  min-height: 619px;
}

.form-support__body {
  padding: 32px 35px;
}

.form-support__title {
  font-family: "golos-text_demibold";
  font-size: 34px;
  line-height: 120.5882352941%;
  color: #000;
  margin: 0px 0px 33px 0px;
}

.form-support__subtitle {
  font-family: "golos-text_medium";
  font-size: 24px;
  line-height: 120.8333333333%;
  color: #5D5C5C;
  margin: 0px 0px 10px 0px;
}

.form-support__login {
  width: 90%;
  height: 61px;
  background: #F6F5FB;
  border-radius: 20px;
  border: 1px solid #5E4FE6;
  font-family: "golos-text_regular";
  font-size: 23px;
  line-height: 119.2307692308%;
  padding: 10px;
  margin: 0px 0px 34px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-support__login:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 20px rgba(167, 123, 237, 0.2470588235);
          box-shadow: 0px 0px 20px rgba(167, 123, 237, 0.2470588235);
}

.form-support__text {
  width: 90%;
  height: 193px;
  background: #F6F5FB;
  border-radius: 20px;
  border: 1px solid #5E4FE6;
  font-family: "golos-text_regular";
  font-size: 23px;
  line-height: 119.2307692308%;
  padding: 10px;
  margin: 0px 0px 30px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-support__text:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 20px rgba(167, 123, 237, 0.2470588235);
          box-shadow: 0px 0px 20px rgba(167, 123, 237, 0.2470588235);
}

.form-support__submit {
  width: 154.77px;
  height: 49.78px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#5E4FE6), to(#9455FA));
  background: -o-linear-gradient(top, #5E4FE6 0%, #9455FA 100%);
  background: linear-gradient(180deg, #5E4FE6 0%, #9455FA 100%);
  -webkit-box-shadow: 0px 4px 10px rgba(94, 79, 230, 0.25);
          box-shadow: 0px 4px 10px rgba(94, 79, 230, 0.25);
  border-radius: 18.1022px;
  border: none;
  font-size: 18px;
  line-height: 122.2222222222%;
  color: #fff;
  font-family: "golos-text_demibold";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-support__submit:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 10px 20px rgba(160, 103, 251, 0.4745098039);
          box-shadow: 0px 10px 20px rgba(160, 103, 251, 0.4745098039);
}

@media (max-width: 1330px) {
  [class*=__container] {
    max-width: 1022px;
    margin: auto;
  }

  .main-reg__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-reg__title {
    font-size: 70px;
  }

  .main-reg__title span.s2,
  .main-reg__title span.s3 {
    margin: 0px 0px 0px 0px;
  }

  .main-reg__title span.s4 {
    margin: 0px 0px 0px 0px;
  }

  .payment__input {
    padding: 5px;
  }

  .payment__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 24%;
            flex: 0 1 24%;
  }

  .name-payment__title {
    font-size: 23px;
  }
}

@media (max-width: 1022px) {
  [class*=__container] {
    max-width: 798px;
    margin: auto;
  }
}

@media (max-width: 1020px) {
  .main-reg__title {
    display: none;
  }

  .header__exit {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    border-radius: 0px;
    -webkit-transform: translate(0, -140%);
        -ms-transform: translate(0, -140%);
            transform: translate(0, -140%);
  }

  .menu__title {
    margin: 50px 0px 26px 0px;
  }

  .menu__exit {
    display: block;
  }

  .counters__items.payment {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .payment__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 29%;
            flex: 0 1 29%;
  }
}

@media (max-width: 798px) {
  [class*=__container] {
    max-width: none;
  }
}

@media (max-width: 698px) {
  .payment__input {
    padding: 5px;
  }

  .payment__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 24%;
            flex: 0 1 24%;
  }
}

@media (max-width: 660px) {
  .form-support__title {
    font-size: 30px;
  }

  .form-support__subtitle {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .header__logo {
    max-width: 200px;
    margin: 0px 0px 0px 10px;
  }
}

@media (max-width: 620px) {
  .header-reg__logo {
    font-size: 24px;
  }

  .main-reg__body {
    min-height: 600px;
  }

  .main-reg__form {
    width: 100%;
  }

  .form-reg__logo {
    max-width: 250px;
  }

  .form-reg__item:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .form-reg__item:last-child {
    margin: 0px 0px 15px 0px;
  }

  .form-reg__check-text {
    font-size: 23px;
  }

  .form-reg__check-text {
    font-size: 20px;
  }

  .form-reg__submit {
    font-size: 28px;
  }

  .item-reg__input {
    width: 100%;
  }

  .item-reg__input {
    height: 60px;
  }
}

@media (max-width: 600px) {
  .menu__body {
    padding: 40px 0px;
  }
}

@media (max-width: 570px) {
  .title {
    font-size: 34px;
  }

  .subtitle {
    font-size: 23px;
  }

  .payment__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .payment__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .payment__body-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .payment__qr {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 570Px) {
  .payment__button {
    margin: 10px 0px 0px 0px;
  }
}

@media (max-width: 510px) {
  .home__info {
    font-size: 30px;
  }

  .home__link {
    font-size: 22px;
  }

  .text__item {
    font-size: 22px;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 19px;
  }
}

@media (max-width: 420px) {
  .item-reg__title {
    font-size: 20px;
  }

  .item-reg__input {
    height: 45px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}